  <div class="about-all">

    <div class="about-sidenav">
      <div class="head">
      <a href="#about">more below</a>
      <hr style="width: 90%; border-color: black;opacity: 0.4;margin-top: 0px;margin-bottom: 5px;">
      </div>
      <a href="#about">about us</a>
      <a href="#news">covid</a>
      <a href="#prices">prices</a>
      <a href="#contact">contact info</a>
      <a href="#find">find us</a>
    </div>

    <div class="about-main">


      <div class="about-banner-divider"></div>


      <div class="about-section" id="about">
       <div class="card-map" style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45) ), url('<%=cl_image_path('vwbeetle', height: 380, quality: 25, cloud_name: 'di7okux3q', crop: :scale, fetch_format: :auto)%>')";'>
      <h2>about us</h2>
       </div>
        <div class="about-section-content">
       <%= @about.content.html_safe %>
       </div>
    </div>


      <div class="about-section" id="news">
        <div class="card-map" style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45) ), url('<%=cl_image_path('IMG_0833.jpg', quality: 25, cloud_name: 'di7okux3q', crop: :scale, fetch_format: :auto)%>');">
      <h2>COVID-19 Update</h2>
       </div>
      <div class="about-section-content">
<p>
    Arrival:
</p>
<p>
    - Our campsite team will allocate you a pitch.
</p>
<p>
    - We apologise in advance if we cannot pitch you in your preferred area.
    Some areas are closed due to Covid.
</p>
<p >
    -Please leave a minimum of a 3m gap between each pitch with your vehicle
    parked as close to the pitch as possible.
</p>
<p >
    - NO communal fire pits, BBQs, Gazebos, Awnings while you stay. We ask
    every individual pitch to be self-sufficient to limit any contact with
    other groups and families. The same rules apply here as they do across
    England so please respect them.
</p>
<p>
    Amenities:
</p>
<p>
    -Priority booking is given to guests who have fully self-catering vans. The
    washrooms are only available to those without facilities.
</p>
<p>
    -The washrooms and dishwashing area may only be used if you have no
    alternative.
</p>
<p>
    -The dishwashing sinks may be used to fill up plastic bowls but washing
    should be done at your pitch.
</p>
<p>
    -The washroom external doors should be left open and guests will need to
    keep social distance when queuing outside.You may enter the washrooms when
    there is a free cubicle or wash basin.
</p>
<p>
    -Please arrive shower ready (robe, towel/swimwear) and all changing is to
    take place at your pitch.
</p>
<p>
    -The hand basins are for hand washing only. All personal hygiene such as
    tooth brushing, shaving, hair, make-up needs to be done at your pitch. You
    will need to bring a plastic washing up bowl for personal hygiene and
    dishwashing if your unit does not have facilities.
</p>
<p>
    -Our amenities will be cleaned thoroughly and regularly. Soap and electric
    hand dryers are provided for hand washing.
</p>
<p>
    -We recommend guests bring their own disinfectant wipes, gloves and face
    covering for extra peace of mind.
</p>
<br/>
<p>
    Your local footprint:
</p>
<p>
    - Please try to bring everything you need to camp with you. There is a
    selection of local shops in Bourton on the water, but please try to avoid
    over stretching their capacity.
</p>
<p>
    - Please try to take as much rubbish away with you as possible and keep the
    Cotswolds clean!
</p>


      </div>
    </div>


     <div class="about-section" id="prices">
       <div class="card-map" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0) ), url('<%=cl_image_path('IMG_0831.jpg', height: 380, quality: 25, cloud_name: 'di7okux3q', crop: :scale, fetch_format: :auto)%>')";'>
      <h2>prices</h2>
       </div>

      <div class="about-section-content">
      <%= @prices.content.html_safe %>
      <%= render "shared/prices" %>
      </div>
    </div>

     <div class="about-section" id="contact">
       <div class="card-map" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0) ), url('<%=cl_image_path('bigstock-Dry-Stone-Wall-12001274', height: 380, quality: 25, cloud_name: 'di7okux3q', crop: :scale, fetch_format: :auto)%>');">
      <h2>contact info</h2>
       </div>

      <div class="about-section-content">
      <%= @contact.content.html_safe %>
      </div>
    </div>


      <div class="about-section" id="find">
        <div class="card-map" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 50%), url('https://maps.googleapis.com/maps/api/staticmap?center=51.887358,-1.819547&markers=color:purple%7C51.887358,-1.819547&zoom=12&size=2000x1500&key=AIzaSyCKxAu_Y-IhJUSTXAcMghvx_UDSBSGm2l8')";'>
        <h2>how to find us</h2>
       </div>
     <div class="about-section-content">
      <%= @findus.content.html_safe %>

        <div style="padding-top: 50px;"></div>

        <div id="map" style='width: 100%; height: calc(100vh - 70px);' data-markers="<%= @marker.to_json %>">
        </div>

      </div>

      </div>



<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>


  function activateCat() {

    var position = $(this).scrollTop();
    position = position + 100;

    $('.about-section').each(function() {
        var target = $(this).offset().top;
        var id = $(this).attr('id');

        if (position >= target) {
            $('.about-sidenav a').removeClass('active');
            $('.about-sidenav a[href=#' + id + ']').addClass('active');
        }
    });

  }



    // When the user scrolls the page, execute myFunction
  window.onscroll = function() {makeNavbarSticky()};

  // Get the navbar
  var navbar = document.querySelector(".about-sidenav");
  var head = document.querySelector(".head");

  // Get the offset position of the navbar
  var sticky = navbar.offsetTop;

  // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
  function makeNavbarSticky() {


    activateCat();


    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky");
      head.classList.add("about-hide");

    } else {
      navbar.classList.remove("sticky");
      head.classList.remove("about-hide");
    }
  }


</script>
