





  <div class="about-section" id="home">
  </div>

<div class="about-all">

<div class="about-sidenav">
  <a href="#home">edit homepage</a>
  <hr style="width: 90%; border-color: black;opacity: 0.4;margin-top: 0px;margin-bottom: 5px;">
  <a href="#news">news</a>
  <a href="#find">how to find us</a>
  <a href="#contact">contact info</a>
  <a href="#prices">prices</a>
</div>


<div class="about-main">


    <div class="about-section" id="about">
    <h4>about</h4>
  <%= simple_form_for @abouts do |f| %>
        <%= f.input :content, label: false, input_html: { class: 'ckeditor' } %>
        <%= f.button :submit, remote: true %>
      <% end %>


  </div>


  <div class="about-section" id="news">
    <h4>news</h4>
  <%= simple_form_for @news do |f| %>
        <%= f.input :content, label: false, input_html: { class: 'ckeditor' } %>
        <%= f.button :submit, remote: true %>
      <% end %>


  </div>

  <div class="about-section" id="find">
      <h4>how to find us</h4>


        <div class="card-map" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=51.887358,-1.819547&markers=color:purple%7C51.887358,-1.819547&zoom=12&size=2000x1500&key=AIzaSyCKxAu_Y-IhJUSTXAcMghvx_UDSBSGm2l8')";'>
      </div>

      <%= simple_form_for @findus do |f| %>
        <%= f.input :content, label: false, input_html: { class: 'ckeditor' } %>
        <%= f.button :submit, "Update 'Find Us' Details" %>
      <% end %>

  </div>

    <div class="about-section" id="prices">
        <h4>prices</h4>

   <%= simple_form_for @price do |f| %>
        <%= f.input :content, label: false, input_html: { class: 'ckeditor' } %>
        <%= f.button :submit %>
      <% end %>

  </div>

    <div class="about-section" id="contact">
      <h4>contact info</h4>

    <%= simple_form_for @contactinfo do |f| %>
        <%= f.input :content, label: false, input_html: { class: 'ckeditor' } %>
        <%= f.button :submit, "Update Contact Info"%>
      <% end %>

  </div>


  <div style="padding-top: 50px;"></div>
</div>

</div>


<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>


  function activateCat() {

    var position = $(this).scrollTop();
    position = position + 100;

    $('.about-section').each(function() {
        var target = $(this).offset().top;
        var id = $(this).attr('id');

        if (position >= target) {
            $('.about-sidenav a').removeClass('active');
            $('.about-sidenav a[href=#' + id + ']').addClass('active');
        }
    });

  }



    // When the user scrolls the page, execute myFunction
  window.onscroll = function() {makeNavbarSticky()};

  // Get the navbar
  var navbar = document.querySelector(".about-sidenav");

  // Get the offset position of the navbar
  var sticky = navbar.offsetTop;

  // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
  function makeNavbarSticky() {


    activateCat();


    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }


</script>
