<!--    <div class="page-scroll text-center" style="position: relative;
  bottom:40px;">
    <a href="#top">
      <a href="javascript: document.body.scrollIntoView(false);" class="btn btn-circle"><i class="fa fa-angle-down fa-2x animated"></i>
    </a>
    </a>

  </div> -->

  <!-- for the anchor -->


  <style>

  .card-map {
    color: white;
    font-weight: bold;
    text-align: center;

  }

  .card-map > h2 {
    padding-top:70px;

  }

  .about-hide {
   opacity: 0;
  }

  </style>

  <div class="about-section" id="home">
  </div>

  <div class="about-all">

    <div class="about-sidenav">
      <div class="head">
      <a href="#home">more below</a>
      <hr style="width: 90%; border-color: black;opacity: 0.4;margin-top: 0px;margin-bottom: 5px;">
      </div>
      <a href="#about">about us</a>
      <a href="#news">news</a>
      <a href="#find">how to find us</a>
      <a href="#prices">prices</a>
      <a href="#contact">contact info</a>
    </div>

    <div class="about-main">
      <div class="about-section" id="about">
       <div class="card-map" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0) ), url('<%=cl_image_path('vwbeetle', cloud_name: 'di7okux3q')%>')";'>
      <h2>about us</h2>
       </div>
       <%= @about.content.html_safe %>
        <!-- <p>The area is much loved for it's extensive walks and cycle routes. We are close to Cotswold Farm Park and Naunton Downs Golf Course as well as many historic villages and towns. South Cerney Water Parks which host a variety of water activities and the Cotswold Wildlife Park near Burford are only 30 minutes drive from us.</p>
                <p>We offer simple facilities that include 4 showers, 7 toilets, dishwashing facilities, 10 amp electric hook-up points and a chemical WC disposal point.</p> -->
    </div>


      <div class="about-section" id="news">
        <div class="card-map" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0) ), url('<%=cl_image_path('airstream', cloud_name: 'di7okux3q')%>');">
      <h2>news</h2>
       </div>
      <%= @news.content.html_safe %>
    </div>

    <div class="about-section" id="find">
      <div class="card-map" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://maps.googleapis.com/maps/api/staticmap?center=51.887358,-1.819547&markers=color:purple%7C51.887358,-1.819547&zoom=12&size=2000x1500&key=AIzaSyCKxAu_Y-IhJUSTXAcMghvx_UDSBSGm2l8')";'>
      <h2>how to find us</h2>
     </div>
      <%= @findus.content.html_safe %>
    </div>

     <div class="about-section" id="prices">
       <div class="card-map" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0) ), url('<%=cl_image_path('rally-combine', cloud_name: 'di7okux3q')%>')";'>
      <h2>prices</h2>
       </div>
      <%= @prices.content.html_safe %>
      <%= render "shared/prices" %>
    </div>

     <div class="about-section" id="contact">
       <div class="card-map" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0) ), url('<%=cl_image_path('bigstock-Dry-Stone-Wall-12001274', height: 380, cloud_name: 'di7okux3q')%>');">
      <h2>contact info</h2>
       </div>

      <%= @contact.content.html_safe %>
    </div>

    <div style="padding-top: 50px;"></div>
    </div>

  </div>


<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>


  function activateCat() {

    var position = $(this).scrollTop();
    position = position + 100;

    $('.about-section').each(function() {
        var target = $(this).offset().top;
        var id = $(this).attr('id');

        if (position >= target) {
            $('.about-sidenav a').removeClass('active');
            $('.about-sidenav a[href=#' + id + ']').addClass('active');
        }
    });

  }



    // When the user scrolls the page, execute myFunction
  window.onscroll = function() {makeNavbarSticky()};

  // Get the navbar
  var navbar = document.querySelector(".about-sidenav");
  var head = document.querySelector(".head");

  // Get the offset position of the navbar
  var sticky = navbar.offsetTop;

  // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
  function makeNavbarSticky() {


    activateCat();


    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky");
      head.classList.add("about-hide");

    } else {
      navbar.classList.remove("sticky");
      head.classList.remove("about-hide");
    }
  }


</script>
